@import "../../scss/mixins";

:host {
    display: inline-block;
    position: relative;

    min-width: 100px;
    height: 20px;
    line-height: 20px;
    text-align: left;
    padding-left: 8px;
    padding-right: 20px;
    border-radius: 4px;
}

.knob {
    position: absolute;
    right: -1px;
    bottom: -1px;
    top: -1px;
    padding-left: 1px;

    /* Sketch doesnt export gradient borders at this point */
    border-radius: 0 3px 3px 0;
    width: 17px;
    text-align: center;

    line-height: 17px;
    color: white;

}

select {
    position: absolute;
    border: 0;
    color: transparent;
    background-color: transparent;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    outline: 0;
}

.placeholder,
.value {
    position: absolute;
    left: 8px;
    top: 0;
    right: 17px;
    bottom: 0;

    white-space: pre;
    overflow: hidden;
    text-overflow: ellipsis;
}

.placeholder {
    display: block;
    color: grey;
}

.value {
    display: none;
}

:host.selected {
    .placeholder {
        display: none;
    }

    .value {
        display: inline-block;
    }
}

:host-context(.light) {
    background: white;
    border-top: 1px solid #c9c9c9;
    border-bottom: 1px solid #acacac;
    border-left: 1px solid #c2c2c2;
    border-right: 1px solid #c2c2c2;
    box-shadow: 0 1px 0 #e5e5e5;

    .knob {
        border-top: 1px solid #4990fa;
        border-right: 1px solid #3383fc;
        border-bottom: 1px solid #0063ff;
        background-image: linear-gradient(-180deg, #69A3FB 0%, #599AFC 20%, #428DFD 45%, #1974FF 83%, #0D6DFF 100%);
    }
}

:host-context(.dark) {
    @include box-textured-dark;

    .knob {
        bottom: 0;
        top: 0;
        line-height: 15px;
        border-top: 1px solid #2d79ea;
        background-image: linear-gradient(-180deg, #1768E5 0%, #145CCC 100%);
    }
}
