@import "../../scss/mixins";

:host {
    display: block;
    border: 1px solid #c5c5c5;
    background-color: white;
    height: 250px;
}

.cdk-virtual-scroll-viewport {
    height: 100%;
}

.header {
    white-space: nowrap;
    height: 23px;
    overflow: hidden;
    background-color: #f0f0f0;
    border-bottom: 1px solid #cecece;
    padding-right: 13px;

    > div {
        position: relative;
        display: inline-block;
        height: 23px;
        padding: 3px 6px;
        line-height: 17px;
        text-align: left;
        color: #303030;
        font-size: 11px;
        font-weight: 500;
        z-index: 1;

        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;

        dui-icon {
            float: right;
            margin-top: 2px;
            margin-right: 2px;
        }

        dui-splitter {
            top: 3px;
            right: 0;
            bottom: 3px;
        }

        &:active {
            background-color: #e3e3e3;
            font-weight: 500;
        }
    }
}

.body {
    height: calc(100% - 23px);
}

.table-row {
    white-space: nowrap;

    > div {
        position: relative;
        display: inline-block;
        padding: 3px 6px;
        line-height: 16px;
        height: 100%;
        vertical-align: middle;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    &.odd {
        background-color: #f5f5f5;
    }

    &.selected {
        background-color: #dcdcdc;
    }
}

:host:focus {
    .table-row.selected {
        background-color: $highlightedDolor;
        color: white;
    }
}

:host:focus {
    outline: 0;
}

:host:focus:not(.no-focus-outline) {
    @include focus-border;
}

:host-context(.dark) {
    background-color: #1e262e;
    border: 1px solid #565656;

    .header {
        background-color: #2a363f;
        border-bottom: 1px solid rgba(206, 206, 206, 0.23)
    }

    .th {
        color: white;

        &:active {
            background-color: #43505a;
        }
    }

    .table-row.odd {
        background-color: rgba(245, 245, 245, 0.07);
    }

    &:not(:focus) .table-row.selected {
        background-color: #444444;
    }

    &:focus:not(.no-focus-outline) {
        @include focus-border-dark;
    }
}

:host.borderless {
    border: 0;
}
