@import "../../scss/mixins";

:host {
    display: block;
    border: 1px solid #c5c5c5;
    background-color: white;
    overflow: auto;
}

table {
    width: 100%;
    max-width: 100%;
    table-layout: fixed;

    th {
        position: relative;
        background-color: #f0f0f0;
        padding: 3px 6px;
        line-height: 17px;
        text-align: left;
        color: #303030;
        font-size: 11px;
        font-weight: 500;
        box-shadow: 0 1px 0 #cecece;
        //border-bottom: 1px solid #cecece;
        z-index: 1;
        //transition: left 0.3s ease-in-out;

        dui-icon {
            float: right;
            margin-top: 2px;
            margin-right: 2px;
        }

        dui-splitter {
            top: 3px;
            right: 0;
            bottom: 3px;
        }
    }

    th:active {
        background-color: #e3e3e3;
        font-weight: 500;
    }

    td {
        position: relative;
        padding: 3px 6px;
        line-height: 16px;
        vertical-align: middle;
        overflow-x: hidden;
    }

    tr:nth-child(odd) td {
        background-color: #f5f5f5;
    }

    tr.selected td {
        background-color: #dcdcdc;
    }
}

:host:focus {
    table tr.selected td {
        background-color: $highlightedDolor;
        color: white;
    }
}

:host:focus {
    outline: 0;
}

:host:focus:not(.no-focus-outline) {
    @include focus-border;
}

:host.borderless {
    border: 0;
}

:host-context(.dark) {
    background-color: #1e262e;
    border: 1px solid #565656;

    table {
        th {
            color: white;
            background-color: #2a363f;
            border-bottom-color: #445059;
            box-shadow: 0 1px 0 rgba(206, 206, 206, 0.23);
        }

        th:active {
            background-color: #43505a;
        }

        tr:nth-child(odd) td {
            background-color: rgba(245, 245, 245, 0.07);
        }
    }

    &:not(:focus) table tr.selected td {
        background-color: #444444;
    }

    &:focus:not(.no-focus-outline) {
        @include focus-border-dark;
    }

}

