@import "../../scss/mixins";

$buttonTextColor: #575757;

:host {
    vertical-align: middle;
    position: relative;
    display: inline-block;
    font-weight: 500;
    height: 21px;
    color: $buttonTextColor;
    font-size: 12px;
    line-height: 20px;
    padding: 0 15px;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;

    border-radius: 4px;

    &:focus {
        outline: 0;
    }


    &.square {
        border-radius: 0;
        border: 1px solid #b4b4b4;
        box-shadow: none;
        height: 22px;
        line-height: 22px;

        &:not(.disabled).active,
        &:not(.disabled):active {
            background-image: linear-gradient(180deg, #c1c1c1 0%, #b5b5b5 100%);
        }
    }
}

:host-context(.light) {
    &:not(.disabled):not(.square):not(.textured):active {
        color: white;
        background-image: linear-gradient(180deg, #4990fe 0%, #005ee5 100%);
        border-top: 1px solid #1f75f9;
        border-bottom: 1px solid #0050d9;
        border-left: 1px solid #1068f1;
        border-right: 1px solid #1068f1;

        ::ng-deep dui-icon {
            color: white;
        }
    }
}


:host.disabled {
    color: #adadad !important;
    pointer-events: none;

    ::ng-deep dui-icon {
        color: #adadad !important;
    }

    &.square {
        opacity: 0.6;
    }
}

:host.icon {
    padding: 0 11px;

    &.square {
        padding: 0;
        min-width: 22px;
    }

    overflow: visible;
}

:host ::ng-deep dui-icon {
    position: relative;
    top: -1px;
}

:host-context(.light) {
    background: white;
    border-top: 1px solid #c9c9c9;
    border-bottom: 1px solid #acacac;
    border-left: 1px solid #c2c2c2;
    border-right: 1px solid #c2c2c2;
    box-shadow: 0 1px 0 #e5e5e5;

    &.textured {
        @include box-textured;

        &:not(.disabled).active,
        &:not(.disabled):active {
            @include box-textured-active;
        }
    }
}

:host-context(.light) {
    &:not(.disabled):not(.square).active {
        color: white;
        background-image: linear-gradient(-180deg, #6C6D6D 0%, #646464 100%);
        border-top: 1px solid #686869;
        border-bottom: 1px solid #5a5a59;
        border-left: 1px solid #666666;
        border-right: 1px solid #666666;

        &:active {
            background-image: linear-gradient(-180deg, #575857 0%, #505151 100%);
            border-top: 1px solid #535353;
            border-bottom: 1px solid #474747;
            border-left: 1px solid #515151;
            border-right: 1px solid #515151;
        }
    }
}

:host-context(.dark) {
    color: white;
    background-color: #62696f;
    border-top: 1px solid #2c353c;
    border-bottom: 1px solid #283036;
    border-left: 1px solid #2a3239;
    border-right: 1px solid #2a3239;
    box-shadow: 0 1px 0 #2c353d;

    &:not(.disabled):not(.square):not(.textured):active {
        background-image: linear-gradient(-180deg, #1d73e7 0%, #217bf4 100%);
        color: white;
        //border-top: 1px solid #3889f6;
        //border-bottom: 1px solid #1c72e6;
        //border-left: 1px solid transparent;
        //border-right: 1px solid transparent;
        box-shadow: 0 1px 0 #232a31;
    }

    &.square {
        background-color: #475057;
        border: 1px solid #62696f;

        &:not(.disabled).active,
        &:not(.disabled):active {
            background-image: linear-gradient(-180deg, #62696F 0%, #586066 100%);
        }
    }

    &:not(.disabled):not(.square).active {
        color: $buttonTextColor;
        background-image: linear-gradient(-180deg, #C6C9CC 0%, #C2C5C8 100%, #C1C4C7 100%);
        border-top: 1px solid #cfd3d6;
        border-bottom: 1px solid #c1c4c7;
        border-left: 1px solid #c3cbd0;
        border-right: 1px solid #c3cbd0;

        &:active {
            background-image: linear-gradient(-180deg, #E9ECEF 0%, #E4E8EA 100%);
            border-top: 1px solid #eff3f6;
            border-bottom: 1px solid #e4e8ea;
            border-left: 1px solid #e5edf2;
            border-right: 1px solid #e5edf2;
        }
    }
}


:host-context(.dark).textured {
    background-color: #62696f;

    &.active,
    &:active {
        background: #797f84;
    }
}

.label {
    position: absolute;
    top: 100%;
    font-size: 11px;
    font-weight: 500;
}
