:host {
    display: none;
}

.dropdown {
    border-radius: 4px;
    padding: 4px 0;
    border: 1px solid #bebebeb8;
    background-color: var(--dui-window-content-bg);
    box-shadow: 0 0 6px rgba(111, 111, 111, 0.30);
    flex: 1;
    min-height: 25px;

    &:focus {
        outline: 0;
    }
}
