:host {
    padding: 1px 23px;
    position: relative;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;

    dui-icon.selected {
        position: absolute;
        color: var(--color-black);
        left: 6px;
        top: 5px;
    }

    &.selected {

    }

    &:hover {
        background-color: var(--dui-selection);
        color: white;
    }
}
