:host {
    display: flex;
    flex: 1;

    .sidebar {
        transition: width 0.3s ease-in-out;
        overflow: hidden;
        width: 250px;
        background-color: #dfe6eb;
        border-right: 1px solid #c7ced3;
    }

    .sidebar-container {
        width: 100%;
        height: 100%;
    }

    .content {
        max-width: calc(100% - 250px);
        flex: 1;
        position: relative;
        padding: 20px;
        background-color: #ececec;
    }
}


:host.sidebar-invisible {
    .sidebar {
        width: 0;
    }
}

:host-context(.dark) {
    .content {
        background-color: #2d373f;
    }

    .sidebar {
        background-color: #2a3136;
        border-right: 1px solid black;
    }
}
