:host {
    display: flex;
    flex: 1;

    .sidebar {
        flex-basis: 250px;
        flex-shrink: 0;
        transition: flex-basis 0.3s ease-in-out;
        overflow: auto;
        background-color: #dfe6eb;
        border-right: 1px solid #c7ced3;
    }

    .sidebar-container {
        width: 100%;
        height: 100%;
    }

    .content {
        flex: 1;
        position: relative;
        padding: 20px;
        background-color: #ececec;
        overflow: auto;
    }
}


:host.sidebar-invisible {
    .sidebar {
        flex-basis: 0px;
    }
}

:host-context(.dark) {
    .content {
        background-color: #2d373f;
    }

    .sidebar {
        background-color: #2a3136;
        border-right: 1px solid black;
    }
}
