@import "../../scss/mixins";

:host {
    display: block;
    position: relative;
    flex-shrink: 0;
    flex-grow: 0;

    background-image: linear-gradient(-180deg, #EDECED 1%, #D2D1D2 97%);
    border-bottom: 1px solid #a8a8a7;

    padding: 0 70px;
    text-align: center;

    .title {
        min-height: 22px;
        line-height: 22px;
        color: rgba(0, 0, 0, 0.73);
        letter-spacing: -0.08px;
        font-weight: 500;
    }

    -webkit-app-region: drag;

    ::ng-deep dui-window-toolbar-container {
        *:not(dui-button-group) {
            -webkit-app-region: no-drag;
        }
    }
}

::ng-deep .cdk-overlay-pane {
    -webkit-app-region: no-drag;
}

.closer {
    position: absolute;
    right: 8px;
    top: 3px;
    display: none;
    color: #3d3c37;
    -webkit-app-region: no-drag;

    > div {
        display: inline-flex;
        background-color: rgba(255, 255, 255, 0.0001);
        border: 1px solid rgba(255, 255, 255, 0.0001);
    }
}

:host-context(.platform-linux.light) {
    .closer > div {
        &:active {
            border-radius: 4px;
            border: 1px solid silver;
        }
    }
}

:host-context(.platform-linux.dark) {
    .closer > div {
        border-radius: 20px;
        width: 20px;
        height: 20px;
        margin-left: 2px;

        background-image: linear-gradient(180deg, #8B8A84 0%, #5F5E59 78%);
        border: 1px solid #3A3937;
        text-shadow: 0 1px 0px rgba(255, 255, 255, 0.1);

        &.highlight {
            background-image: linear-gradient(180deg, #F28665 0%, #DF501E 78%);
            border: 1px solid #3A3937;
        }

        &:active {
            opacity: 0.7;
        }
    }

    background-image: linear-gradient(180deg, #5A584F 0%, #3D3C37 100%);
    border-bottom-color: #3D3C37;

    .title {
        color: rgba(255, 255, 255, 0.73);
    }
}

:host-context(.platform-linux) {
    .closer {
        display: block;
    }
}

:host-context(.dark) {
    background-image: linear-gradient(-180deg, #434C55 0%, #363D44 100%);
    border-bottom: 1px solid #000000;

    .title {
        color: #bbc3cc;
    }
}

:host.with-toolbar {
    height: 55px;
}

.toolbar dui-window-toolbar-container {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 7px 8px;
    display: flex;
    white-space: nowrap;
    word-break: keep-all;
}

:host.medium {
    height: 68px;

    .actions {
        padding-bottom: 18px;
    }
}

:host.large {
    height: 78px;
}

:host ::ng-deep {
    dui-input,
    dui-select,
    dui-button {
        height: 22px !important;
    }
}

:host-context(.dark) ::ng-deep {
    dui-input,
    dui-button {
        @include box-textured-dark-toolbar;

    }

    dui-button {
        &:active {
            @include box-textured-dark-toolbar-active;
        }

        &:not(.disabled):not(.square).active {
            background-image: linear-gradient(-180deg, #C6C9CC 0%, #C2C5C8 100%, #C1C4C7 100%) !important;
            border-top: 1px solid #cfd3d6 !important;
            border-bottom: 1px solid #c1c4c7 !important;
            border-left: 1px solid #c3cbd0 !important;
            border-right: 1px solid #c3cbd0 !important;

            &:active {
                background-image: linear-gradient(-180deg, #E9ECEF 0%, #E4E8EA 100%) !important;
                border-top: 1px solid #eff3f6 !important;
                border-bottom: 1px solid #e4e8ea !important;
                border-left: 1px solid #e5edf2 !important;
                border-right: 1px solid #e5edf2 !important;
            }
        }
    }
}
