:host {
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

:host-context(body:not(.electron)) {
    background: rgba(236, 236, 236, 0.8);
    backdrop-filter: blur(10px);
}

:host-context(body:not(.electron).dark) {
    background: rgba(45, 55, 63, 0.81);
    backdrop-filter: blur(10px);
}
