:host {
    display: block;
    height: 100%;

    &:focus {
        outline: 0;
    }
}

:host.disabled > * {
    opacity: 0.6;
}

:host:focus ::ng-deep dui-list-item.selected {
    background-color: #016dea;
    color: white;
}

:host:not(:focus) ::ng-deep dui-list-item.selected {
    background-color: #bdcbd2;
}

:host-context(.dark):not(:focus) ::ng-deep dui-list-item.selected {
    background-color: #434752;
}



:host-context(.light).white {
    background-color: white;
    border: 1px solid #c5c5c5;

    &:not(:focus) ::ng-deep dui-list-item.selected {
        background-color: #dcdcdc;
    }
}

:host-context(.dark).white {
    background-color: #1d262e;
    border: 1px solid #565656;
}
