:host {
    display: block;
    height: 100%;

    &:focus {
        outline: 0;
    }
}

:host.disabled > * {
    opacity: 0.6;
}

:host ::ng-deep dui-list-item.selected {
    background-color: #999ca352;
}

:host-context(.dark) ::ng-deep dui-list-item.selected {
    background-color: #acaeb936;
}

:host:focus.focusable ::ng-deep dui-list-item.selected {
    background-color: var(--dui-selection);
    color: white;
    --text-light: #d1d1d1;
}

:host-context(.light).white {
    background-color: white;
    border: 1px solid #c5c5c5;

    &:not(:focus) ::ng-deep dui-list-item.selected {
        background-color: #dcdcdc;
    }
}

:host-context(.dark).white {
    background-color: #1e1e1e;
    border: 1px solid #565656;
}
