<div class="osx-window">
    <amu-header>
        Window Title

        <amu-header-actions>
            <amu-button>
                <span class="icon-star"></span>
            </amu-button>

            <amu-search style="margin-left: auto;"></amu-search>
        </amu-header-actions>
    </amu-header>

    <div class="osx-window-content">
        Hi what up?

        <p>
            <input type="text" value="Value" />
        </p>

        <p>
            <amu-checkbox>Checkbox A</amu-checkbox>
        </p>

        <button>Send</button>
    </div>

    <div class="osx-window-footer">
        Macintosh HD
    </div>
</div>

<router-outlet></router-outlet>
