@import "../../scss/variables";
@import "../../scss/mixins";

:host {
    display: inline-block;
    position: relative;
    height: 22px;
    line-height: 22px;
    color: $colorInputs;
    width: 150px;
    vertical-align: middle;

    background: white;
    border: 1px solid #bdbdbd;

    //box-shadow: 0 0.5px 0 0.5px rgba(0, 0, 0, 0.05);

    &:not(.light-focus).focused {
        @include focus-border;
    }

    &.light-focus.focused {
        border: 1px solid #949494;
    }

    &.round {
        border-radius: 4px;
    }

    &.disabled {
        color: #c5c5c5;
        pointer-events: none;
        border: 1px solid #d4d4d4;

        > * {
            opacity: 0.6;
        }

        .clearer {
            opacity: 0;
        }
    }
}

:host.is-textarea {
    height: 60px;
}

textarea, input {
    border: 0;
    color: $colorInputs;
    background-color: transparent;
    line-height: 100%;
    width: 100%;
    height: 100%;
    padding: 0 4px;
    vertical-align: top;
    resize: none;

    &::placeholder {
        color: #c5c5c5;
    }

    &:focus {
        outline: 0;
    }
}

textarea {
    padding-top: 2px;
    line-height: 16px;
}

dui-icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.input-wrapper {
    height: 100%;
}

.clearer {
    right: 5px;
    opacity: 0;
    transition: opacity 0.2s ease-in;
    cursor: pointer;
    color: #808080;
    pointer-events: none;
}

.icon {
    left: 5px;
}

:host.has-icon {
    .input-wrapper {
        margin-left: 18px;
    }
}

:host.has-clearer {
    .input-wrapper {
        margin-right: 18px;
    }
}

:host.filled .clearer {
    opacity: 1;
    pointer-events: all;
}


:host-context(.dark) {
    color: white;
    background-image: linear-gradient(-180deg, #373F46 5%, #3A4249 6%, #3B434B 12%, #3B434B 100%);

    border: 1px solid #464d53;
    border-left: 1px solid #414951;
    border-right: 1px solid #414951;

    &:not(.light-focus).focused {
        @include focus-border-dark;
    }

    &.light-focus.focused {
        border: 1px solid #5d666e;
    }

    input, textarea {
        color: white;
    }
}

:host.textured {
    @include box-textured;

    &:not(.light-focus).focused {
        @include focus-border;
    }
}

:host-context(.dark).textured {
    @include box-textured-dark-toolbar;
}
