dui-window {
    height: auto;
}

.actions {
    padding: 20px;
    background-color: #ececec;

    text-align: right;
    display: flex;
    justify-content: flex-end;

    ::ng-deep > * {
        margin: 0 5px;

        &:last-child {
            margin-right: 0;
        }

        &:first-child {
            margin-left: 0;
        }
    }
}
