:host {
    display: inline-block;
    vertical-align: middle;
    height: 20px;
    line-height: 20px;

    &:focus {
        outline: 1px solid #4686de;
    }
}

.box {
    position: relative;
    display: inline-block;
    width: 14px;
    height: 14px;
    line-height: 14px;
    margin-right: 4px;
    vertical-align: top;
    margin-top: 2px;
    border-radius: 14px;

    background: white;

    border: 0.5px solid rgba(0, 0, 0, 0.20);
    //box-shadow: inset 0 0px 1px 0 rgba(0, 0, 0, 0.38);

    transition: all 0.08s ease-in;
}

.circle {
    position: absolute;
    left: 3px;
    top: 3px;
    width: 6px;
    height: 6px;
    border-radius: 6px;
    background-color: white;
    opacity: 0;
}

:host.checked .box {
    background: #3B99FC;
    border: 0.5px solid #338EF4;

    .circle {
        opacity: 1;
    }
}
