@import "../../scss/window";

:host {
    display: block;
    position: relative;
    @include osx-window-header-background;
    @include osx-window-header-base;
    height: 55px;
}

.actions {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 8px;
    display: flex;
}

::ng-deep input[type=text],
::ng-deep input[type=password] {
    height: 24px !important;
}
