@import "../../scss/window";

:host {
    display: block;
    position: relative;
    @include osx-window-header-background;
    @include osx-window-header-base;
    height: 55px;
}

:host-context(.dark) {
    @include osx-window-header-background-dark;
}

.actions {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 6px 8px;
    display: flex;
}

:host.medium {
    height: 68px;

    .actions {
        padding-bottom: 18px;
    }
}

:host.large {
    height: 78px;
}


:host ::ng-deep input[type=text],
:host ::ng-deep input[type=password] {
    height: 24px !important;
}
