@import "./reset";
@import "~@angular/cdk/overlay";
@include cdk-overlay();

html, body {
    margin: 0;
    padding: 0;
    font-family: -apple-system, "SF Pro Text", "SF Pro", SFProText-Medium, "Roboto", "Helvetica Neue";
    //font-family: -apple-system, SFProText-Medium, "San", "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

    height: 100%;
    overflow: hidden;

    font-size: 13px;
    line-height: 18px;
    -webkit-font-smoothing: antialiased;
    text-rendering: geometricPrecision;

    -webkit-user-select: none;
    user-select: none;

    --text-light: #737880;

    --dui-window-content-bg: #ececec;
}

.dark {
    --text-light: #737880;
    --dui-window-content-bg: #2d373f;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.text-light {
    color: var(--text-light);
}


input, textarea, select, button {
    font-size: 13px;
}

p {
    margin: 15px 0;
}

ol, ul {
    padding-left: 15px;
}

h1 {
    font-weight: 600;

    &:first-child {
        margin-top: 0;
    }
}

h2 {
    font-size: 18px;
    font-weight: 600;

    &:first-child {
        margin-top: 0;
    }
}

h3 {
    font-size: 14px;
    font-weight: 600;

    &:first-child {
        margin-top: 0;
    }
}

h4 {
    font-weight: 600;

    &:first-child {
        margin-top: 0;
    }
}

.overlay-scrollbar {
    overflow: overlay;

    &::-webkit-scrollbar {
        height: 11px;
        width: 11px;
        background: transparent;
    }

    &::-webkit-scrollbar-thumb {
        background: rgba(131, 133, 134, 0.6);
        border: 2px solid rgba(0, 0, 0, 0.01);
        background-clip: padding-box;

        &:hover {
            background: #727475;
            border: 2px solid rgba(0, 0, 0, 0.01);
            background-clip: padding-box;
        }

        border-radius: 8px;;
    }
}
