@import "./reset";
@import "~@angular/cdk/overlay";
@include cdk-overlay();

html, body {
    margin: 0;
    padding: 0;
    font-family: -apple-system, "SF Pro Text", "SF Pro", SFProText-Medium, "Roboto", "Helvetica Neue";
    //font-family: -apple-system, SFProText-Medium, "San", "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

    height: 100%;
    overflow: hidden;

    font-size: 13px;
    line-height: 18px;
    -webkit-font-smoothing: antialiased;
    text-rendering: geometricPrecision;

    -webkit-user-select: none;
    user-select: none;


    --dui-selection: #016dea;

    --text-grey: #6c6970;
    --text-light: #737880;

    --color-black: black;
    --color-green: green;
    --color-red: red;
    --color-orange: orange;

    --line-color-light: #d3d3d3;
    --line-color: #979797;
    --line-color-prominent: #9fa4a9;

    --dui-window-content-bg: #ececec;
    --dui-window-content-bg-trans: #dcdcdcbf;

    color: var(--color-black);
}

*:focus {
    outline: 0;
}
.dark {
    --text-grey: #aaadb7;
    --text-light: #737880;

    --color-black: #ffffff;
    --color-green: #0bd40b;
    --color-red: #ff5c5c;
    --color-orange: orange;

    --line-color-light: rgba(232, 232, 232, 0.16);
    --line-color: rgba(220, 225, 230, 0.15);
    --line-color-prominent: rgba(220, 225, 230, 0.8);

    --dui-window-content-bg: #2d373f;
    --dui-window-content-bg-trans: #2d373f9f;
}

.text-selection {
    user-select: text;
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    background-color: transparent;
}

::-webkit-scrollbar-corner {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background: rgba(169, 173, 175, 0.77);
    border-radius: 3px;
    border: 2px solid rgba(0, 0, 0, 0.01);
    background-clip: padding-box;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.text-light {
    color: var(--text-light);
}


input, textarea, select, button {
    font-size: 13px;
}

p {
    margin: 15px 0;
}

ol, ul {
    padding-left: 15px;
}

h1 {
    font-weight: 600;

    &:first-child {
        margin-top: 0;
    }
}

h2 {
    font-size: 18px;
    font-weight: 600;

    &:first-child {
        margin-top: 0;
    }
}

h3 {
    font-size: 14px;
    font-weight: 600;

    &:first-child {
        margin-top: 0;
    }
}

h4 {
    font-weight: 600;

    &:first-child {
        margin-top: 0;
    }
}

.overlay-scrollbar {
    overflow: auto;
    overflow: overlay;

    &::-webkit-scrollbar {
        height: 11px;
        width: 11px;
        background: transparent;
    }

    &::-webkit-scrollbar-thumb {
        background: rgba(131, 133, 134, 0.6);
        border: 2px solid rgba(0, 0, 0, 0.01);
        background-clip: padding-box;

        &:hover {
            background: #727475;
            border: 2px solid rgba(0, 0, 0, 0.01);
            background-clip: padding-box;
        }

        border-radius: 8px;;
    }
}

.panel {
    background-color: white;
    border: 1px solid #c5c5c5;
}

.dark .panel {
    background-color: #1d262e;
    border: 1px solid #565656;
}
