@font-face {
    font-family: 'icomoon';
    src: url('/assets/fonts/icomoon.woff?h1p59r') format('woff');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    font-size: 13px;
    vertical-align: middle;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

//.dark [class^="icon-"],
//.dark [class*=" icon-"] {
//    color: white;
//}

.icon-check:before {
    content: "\e900";
}

.icon-star:before {
    content: "\e901";
}

.icon-search:before {
    content: "\e902";
}

.icon-clear:before {
    content: "\e903";
}

.icon-arrow-down:before {
    content: "\e904";
}

.icon-arrows:before {
    content: "\e905";
}
