@font-face {
  font-family: 'icomoon';
  src: url('/assets/fonts/icomoon.woff?h1p59r') format('woff');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  font-size: 8px;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-check:before {
  content: "\e900";
  color: #fff;
}

.icon-star:before {
  content: "\e901";
  color: #fff;
}

.icon-search:before {
  content: "\e902";
  color: #fff;
}

.icon-clear:before {
  content: "\e903";
  color: #fff;
}
