::ng-deep body:not(.electron) {
    background-image: url(../assets/bg.png);

    dui-window.main {
        margin: 50px;
        height: calc(100% - 100px);
        width: calc(100% - 100px);
        border-radius: 4px;
        overflow: hidden;
        background: var(--dui-window-content-bg-trans);
    }

    .cdk-global-overlay-wrapper {
        top: 50px !important;;
    }
}

::ng-deep body.platform-web {
    dui-window.main {
        margin: 0;
        border: 0;
        height: 100%;
        width: 100%;
        border-radius: 0;
    }
}
