::ng-deep body:not(.electron) {
    background-image: url(../assets/bg.png);

    dui-window.main {
        margin: 50px;
        height: calc(100% - 100px);
        width: calc(100% - 100px);
        border-radius: 4px;
        overflow: hidden;
    }

    dui-window-content > div.sidebar {
        //backdrop-filter: blur(10px);
    }

    .cdk-overlay-pane.dialog-overlay {
        position: relative !important;
        top: 50px !important;;
    }
}
